nav {
  height: 100%;
  width: 110px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  padding-top: 20px;
}

nav ul {
	text-align: center;
}

nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: grey;
	text-transform: uppercase;
	transition:all .4s;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: black;
	top:0;
	left: 70px;
	width: 110px;
  height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s;
}

nav ul li:nth-child(1):after {
	content: "Bookings";
	line-height: 88px;
}
nav ul li:nth-child(2):after {
	content: "Customers";
	line-height: 88px;
}

nav ul li:hover {
	transform: translateX(-110px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}
